// Variable overrides
$body-bg: #1a202c;
$body-color: #cbd5e0;
$pink: #e73c7e;
$primary: $pink;
$dark: $body-bg;
$border-radius: 0;

// Required
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

// Optional
@import "./node_modules/bootstrap/scss/root";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
// @import "./node_modules/bootstrap/scss/images";
// @import "./node_modules/bootstrap/scss/code";
@import "./node_modules/bootstrap/scss/grid";
// @import "./node_modules/bootstrap/scss/tables";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
// @import "./node_modules/bootstrap/scss/transitions";
// @import "./node_modules/bootstrap/scss/dropdown";
// @import "./node_modules/bootstrap/scss/button-group";
// @import "./node_modules/bootstrap/scss/input-group";
// @import "./node_modules/bootstrap/scss/custom-forms";
// @import "./node_modules/bootstrap/scss/nav";
// @import "./node_modules/bootstrap/scss/navbar";
// @import "./node_modules/bootstrap/scss/card";
// @import "./node_modules/bootstrap/scss/breadcrumb";
// @import "./node_modules/bootstrap/scss/pagination";
// @import "./node_modules/bootstrap/scss/badge";
// @import "./node_modules/bootstrap/scss/jumbotron";
// @import "./node_modules/bootstrap/scss/alert";
// @import "./node_modules/bootstrap/scss/progress";
// @import "./node_modules/bootstrap/scss/media";
// @import "./node_modules/bootstrap/scss/list-group";
@import "./node_modules/bootstrap/scss/close";
// @import "./node_modules/bootstrap/scss/toasts";
@import "./node_modules/bootstrap/scss/modal";
// @import "./node_modules/bootstrap/scss/tooltip";
// @import "./node_modules/bootstrap/scss/popover";
// @import "./node_modules/bootstrap/scss/carousel";
// @import "./node_modules/bootstrap/scss/spinners";
@import "./node_modules/bootstrap/scss/utilities";
// @import "./node_modules/bootstrap/scss/print";

.container-xl {
  max-width: 1140px;
}
.container-lg {
  max-width: 960px;
}
.container-md {
  max-width: 720px;
}
.container-sm {
  max-width: 540px;
}

.btn,
.form-control,
.alert {
  border-radius: 0.15rem;
}

.fade,
.collapse {
  transition-duration: 0.1s;
}

body {
  font-weight: 300;
  line-height: 1.8;
  font-family: "Noto Sans JP", sans-serif;
  @include media-breakpoint-down(xs) {
    font-size: 0.875rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 300;
}

header {
  position: absolute;
  width: 100%;
  .navbar {
    padding: 0 1rem;
    h1.navbar-brand {
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      padding: 1rem 0;
      font-size: 1.25rem;
    }
    .nav-list {
      list-style: none;
    }
    .nav-link {
      color: #fff;
      display: block;
      padding: 0.5rem 0.75rem;
      &:hover {
        text-decoration: underline;
      }
      @include media-breakpoint-down(xs) {
        font-size: 1.125rem;
        text-align: center;
        padding: 1rem;
      }
    }
  }
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-top: 62px;
  color: #fff;
  .hero__tagline {
    font-size: 1.125rem;
    letter-spacing: 1px;
    line-height: 1.4;
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
      letter-spacing: 0;
    }
  }
  .hero__btn {
    margin-top: 5rem;
    .btn-outline-light {
      background-color: rgba(255, 255, 255, 0.1);
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: $body-bg;
      }
      @include media-breakpoint-down(xs) {
        font-size: 1rem;
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotating-text {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 5rem;
  color: white;
  position: relative;
  height: 5rem;
  line-height: 1;
  @include media-breakpoint-down(xs) {
    font-size: 2rem;
  }
  p {
    .word {
      position: absolute;
      display: flex;
      justify-content: center;
      opacity: 0;
      width: 100%;

      .letter {
        transform-origin: center center 25px;

        &.out {
          transform: rotateX(90deg);
          transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
        }
        &.in {
          transition: 0.38s ease;
        }
        &.behind {
          transform: rotateX(-90deg);
        }
      }
    }
  }
}

#about,
#service,
#contact {
  min-height: 100vh;
  padding: 7.5rem 0;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
    text-align: center;
    @include media-breakpoint-down(xs) {
      font-size: 1.875rem;
    }
  }
  h2 + p {
    max-width: 800px;
    margin: 0 auto 5rem auto;
    text-align: center;
  }
  h3 {
    font-size: 1.5rem;
    @include media-breakpoint-down(xs) {
      font-size: 1.25rem;
    }
  }
}

.member__item {
  max-width: 400px;
  margin: 0 3rem;
  @include media-breakpoint-down(xs) {
    margin: 0 0 3rem 0;
  }
  h3 {
    margin-bottom: 1rem;
    small {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 1rem;
      display: block;
      margin-top: 0.5rem;
    }
  }
}
.member__image {
  line-height: 0;
  text-align: center;
  margin-bottom: 1.5rem;
  img {
    width: 200px;
    filter: grayscale(80%) contrast(120%);
  }
  &:hover {
    img {
      filter: grayscale(0%) contrast(100%);
    }
  }
}

#service {
  background-color: lighten(#bdc3d8, 18);
  color: $body-bg;
  h2,
  h3 {
    color: $body-bg;
  }
  h3 {
    margin-bottom: 1rem;
  }
}

.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  @include media-breakpoint-down(xs) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service__image {
  line-height: 0;
  text-align: center;
  margin-bottom: 1rem;
  img {
    width: 100px;
  }
}

#contact {
  h2 + p {
    margin-bottom: 2rem;
  }
  .btn {
    position: relative;
    z-index: 1;
    background: linear-gradient(-45deg, #e73c7e, #23a6d5);
    font-weight: 300;
    border: 0;
    width: 100%;
    max-width: 280px;
    padding: 1rem;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      box-sizing: border-box;
      padding: 2px;
      width: 100%;
      height: 100%;
      background: $body-bg;
      background-clip: content-box;
      content: "";
    }
    &:hover::before {
      opacity: 0.3;
    }
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }
}

#my-form {
  max-width: 800px;
  margin: auto;
  .form-control {
    background-color: #242a37;
    border-color: #4d5464;
    color: $body-color;
  }
  .form-group {
    margin-bottom: 2rem;
  }
}

footer {
  padding: 1.5rem 0;
  border-top: solid 1px #2d3748;
  font-size: 0.812rem;
  a {
    color: lighten($primary, 10%);
  }
}

.modal-content {
  background-color: $body-bg;
  padding: 2rem;
  @include media-breakpoint-down(xs) {
    padding: 2rem 0;
    font-size: 0.812rem;
  }
  h2 {
    @include media-breakpoint-down(xs) {
      font-size: 1.5rem;
    }
  }
  h3 {
    font-size: 1.25rem;
    @include media-breakpoint-down(xs) {
      font-size: 1rem;
    }
  }
  p + h3,
  ul + h3 {
    margin-top: 3rem;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    text-shadow: none;
    color: $body-color;
    z-index: 9999;
  }
}

.alert {
  border: solid 1px $primary;
  color: $primary;
  padding: 0.75rem 1rem;
}

.featured-project {
  background-color: $body-bg;
  font-family: "Montserrat", sans-serif;
}
.canada-school {
  background-color: #e0f1f9;
}
.momose-coaching {
  background-color: #ffe655;
  background-image: url(./images/momose-coaching-bg.png);
  background-size: cover;
  background-position: center;
}
.compass-management {
  background-color: #222222;
}

.work__bg {
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: 400px;
  @include media-breakpoint-up(lg) {
    background-size: 500px;
  }
  @include media-breakpoint-up(xl) {
    background-size: 600px;
  }
  @include media-breakpoint-down(sm) {
    background: none !important;
  }
  &.lazy-background {
    background-image: url(./images/placeholder-image.png);
  }
  &.canada-school-image {
    background-position: right center;
    &.lazy-background.visible {
      background-image: url(./images/canada-school@2x.png);
    }
  }
  &.momose-coaching-image {
    background-position: left center;
    &.lazy-background.visible {
      background-image: url(./images/momose-coaching@2x.png);
    }
  }
  &.compass-management-image {
    background-position: right center;
    &.lazy-background.visible {
      background-image: url(./images/compass-management@2x.png);
    }
    .featured-project {
      background-color: $body-color;
    }
  }
}

.btn svg {
  width: 1rem;
  height: 1rem;
}

#work {
  background-color: #fff;
  background-color: #fff;
  color: $body-bg;
  h2 {
    color: $body-bg;
  }
  .work__image,
  .work__text {
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
  .work__image {
    img {
      max-width: 280px;
    }
  }
}

#testimonial {
  // background-color: lighten(#bdc3d8, 18);
  background-color: #fff;
  color: $body-bg;
  h2,
  h3 {
    color: $body-bg;
  }
}

#testimonial {
  min-height: 400px;
  padding-bottom: 8rem;
}
.testimonial__logo {
  img {
    max-width: 280px;
  }
}
.testimonial__avatar {
  img {
    max-width: 60px;
    border-radius: 100%;
    object-fit: cover;
  }
}
.testimonial__text {
  font-size: 1.25rem;
}
